img {
    width: 40%;
}
body {
    background-image: url(imagens/background2.jpg);
    background-size: 200%;
    background-repeat: no-repeat;

}

picture {
    display: flex;
    justify-content: center;
}