@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    
}

header {
    border-bottom: 2px solid rgba(0, 0, 0, 0.144);
}

.container {
    max-width: 1024px;
    margin: 0 auto;
}

header .container div {
    display: flex;
    justify-content: space-between;
    padding: 12px 0;

}

header #botao_menu{
    display: none;
}

nav{
    padding-bottom: 15px;
}

nav ul .menu {
    list-style: none;
    display: inline-block;
    padding: 12px;

    
}

.menu:hover {
    border-top: 3px solid red;
}

.submenu {
    display: none;
    position: absolute;
    list-style: none;
}

.submenu li {
    margin: 10px 0;
}

nav ul li:hover .submenu {
    display: block;
    background-color:white;
    border: 1px solid red;
    padding-left: 15px;
    width: 200px;
    color: white;

}

.conteudo {
    display: grid;
    grid-template-columns: 70% 30%;
}

main, aside {
    padding-top: 50px;
}

#destaque a {
    display: flex;
}

#destaque a h3 {
    padding-left: 10px;
    font-size: 30px;
}

h1 {
    padding-bottom: 15px;
}

h3 {
    width: 30%;
}

#ultimas_noticias {
    padding-top: 50px;
}

.ultimas_noticias {
    display: grid;
    grid-template-columns: 33.3% 33.3% 33.3%;
}

.ultimas_noticias h3 {
    width: 70%;
}

.ultimas_noticias a img {
    width: 90%;
}

aside section article {
    padding-bottom: 25px;
}

aside h3 {
    width: 60%;
}

@media screen and (max-width: 767px) {
    .conteudo {
        display: block;
    }

    .container {
        padding-left: 15px;
    }

    header {
        text-align: center;
    }

    header .container div {
        display: block;    
    }

    header #botao_menu{
        display: inline;
        margin-bottom: 10px;
        padding: 5px;
    }

    header nav {
        display: none;
    }

    #destaque a {
        display: block;
    }

    #destaque a h3 {
        padding-left: 0;
        font-size: 20px;
    }

    h3 {
        width: 90%;
    }

    .ultimas_noticias {
        display: block;
    }

    .ultimas_noticias article {
        padding-bottom: 25px;
    }

    

}